<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" />
    <title>{{title}}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333;
            line-height: 1.6;
        }
        .container {
            padding: 20px;
        }
        .signature {
          margin-top: 8px;
          font-size: 14px;
          font-weight: 400;
          color: #707172;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <p class="signature">Best regards,<br>{{company}}</p>
    </div>
</body>
</html>
