<div style="width: 100%; max-width: 500px; margin: 0 auto;">
  <h1
    style="
      margin: 0;
      font-size: 24px;
      font-weight: 500;
      color: #1f1f1f;
    "
  >
    {{title}}
  </h1>
  <p
    style="
      margin: 0;
      margin-top: 16px;
      font-size: 16px;
      font-weight: 500;
    "
  >
    {{{welcome}}}
  </p>
  <p
    style="
      margin: 0;
      margin-top: 16px;
      font-weight: 500;
      letter-spacing: 0.56px;
    "
  >
    {{otpExpired}}
  </p>
  <p
    style="
      margin: 0;
      margin-top: 60px;
      font-size: 40px;
      font-weight: 600;
      letter-spacing: 25px;
      color: #FF015C;
    "
  >
    {{otp}}
  </p>
</div>
